script(type="text/javascript" src="../jquery/dist/jquery.min.js")
script(type="text/javascript" src="../js/bootstrap.bundle.js")
script(type="text/javascript" src="../vendor/jquery-easing/jquery.easing.min.js")
script(type="text/javascript" src="../js/sb-admin-2.min.js")
//- script(type="text/javascript" src="../vendor/jquery-easing/jquery.easing.min.js")
//- script(type="text/javascript" src="../vendor/chart.js/Chart.min.js")
//- script(type="text/javascript" src="../js/demo/chart-area-demo.js")
//- script(type="text/javascript" src="../js/demo/chart-pie-demo.js")
script(type="text/javascript" src="../js/angular.js")
script(type="text/javascript" src="../js/angular-ui-router.min.js")
//- script(type="text/javascript" src="../js/angular-ui-router.min.js.map")

script(type="text/javascript" src="../js/angular-route.min.js")


//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(type="text/javascript" src="../devextreme/dist/js/dx.all.js")
//- script(src="devextreme/dist/js/globalize.js")
script(type="text/javascript" src="../js/app.js")
script(type="text/javascript" src="../js/directives/dataGridDirective.js")
script(type="text/javascript" src="../js/controllers/adminDashboardController.js")
script(type="text/javascript" src="../js/controllers/organizationController.js")
script(type="text/javascript" src="../js/controllers/roleController.js")
script(type="text/javascript" src="../js/controllers/roleController - Copy.js")
script(type="text/javascript" src="../js/controllers/userController.js")
script(type="text/javascript" src="../js/controllers/productTypeController.js")
script(type="text/javascript" src="../js/controllers/measurementUnitController.js")
script(type="text/javascript" src="../js/controllers/productController.js")
script(type="text/javascript" src="../js/controllers/countryController.js")
script(type="text/javascript" src="../js/controllers/cityController.js")
script(type="text/javascript" src="../js/controllers/areaController.js")
script(type="text/javascript" src="../js/controllers/storeController.js")
script(type="text/javascript" src="../js/controllers/activityStatusController.js")
script(type="text/javascript" src="../js/controllers/customerTypeController.js")
script(type="text/javascript" src="../js/controllers/activityController.js")
script(type="text/javascript" src="../js/controllers/activityStoreController.js")
script(type="text/javascript" src="../js/controllers/activityUserController.js")
script(type="text/javascript" src="../js/controllers/activityProductController.js")
script(type="text/javascript" src="../js/controllers/activityDataController.js")

