extends layout
block content
    include login.html


//- form(action="/login" method="post")
//-     div.form-group
//-         label(for="username") Username
//-         input(type="text", name="username", class="form-control", id="username")   
    
//-     div.form-group
//-         label(for="password") Password
//-         input(type="password", name="password", class="form-control", id="password")   
    
//-     button(class="btn btn-primary", type="submit") Login
    //- table
    //-     tr
    //-         td Username
    //-         td
    //-             input(type="text" name="username")
    //-     tr
    //-         td Password
    //-         td  
    //-             input(type="password" name="password")
    //-     tr
    //-         td
    //-         td
    //-             input(type="submit", value="Login")