extends layout
block content
    include admin-dashboard.html
//-     .login-panel
//-         //- img(src="img/login-img.jpg", alt="login image")
//-         include includes/login-form
//-     .register-panel
//-         //- img(src="img/register-img.jpg", alt="register image")
//-         include includes/register-form
