doctype html
html(lang="en")
 head
    title=title
    include includes/css
    include includes/js
body.page-wrapper(ng-app='cat-sense-app')
    div
        //- include includes/header
        block content